{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container my-5">

    <div class="row mb-3">
        <div class="col text-center">
            <h1 class="fw-bold text-primary mb-5 display-5 text-center">Liste des produits</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col text-end">
            <a href="{{ path('app_product_new') }}" class="btn btn-primary">Ajouter un produit</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="table-responsive">
                    <table id="productTable" class="table table-hover text-center align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Créé le</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.createdAt ? product.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                                <td class="text-center">
                                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-outline-primary me-2">Afficher</a>
                                    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-muted">Aucun enregistrement trouvé.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}